@import'res';
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Dancing+Script:wght@400;500;600;700&family=Jost&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
.top-nav{
    .container-fluid{
        padding: 0 6rem;
    }
    a{
        text-decoration: none;
        color: #000;
        font-size: 14px;
        font-weight: 500;
    } 
    .icon-link a{
        color: #4c4646;
        font-size: 1rem;
    }
}
.sec-bar{
    a{
        text-decoration: none;
        color: #272626;
        font-size: 16px;
        font-weight: 900;
    }
    a i{
        font-size: 1.7rem;
    }
}
.shop-now a{
    text-decoration: none;
    color: burlywood;
    border-bottom: 3px solid burlywood;
    border-radius:0px 0px 10px 10px;
    transition: ease-in-out 0.3s;
    &:hover{
        letter-spacing: 1px;
    }
}
.cara{
    position: relative;
    .bg-img1{
    width: 100%;
    height: 100vh;
    background: url(/static/images/bg_images/slider2.jpg) no-repeat;
    background-size: cover;
    }
    .bg-img2{
    width: 100%;
    height: 100vh;
    background: url(/static/images/bg_images/slider4.jpg) no-repeat;
    background-size: cover;
    }
    .fashion{
        position: relative;
        .fsh{
            position: relative;
            width: 100%;
            overflow: hidden;
            border-radius: 1px ;
            a{
            position: absolute;
            top: 100%;
            left:35%;
            font-weight: 800;
                text-decoration: none;
                font-size: 1.3rem;
                color: burlywood;
                transition: ease-in 0.3s;
            }
        }
        img{
            transition: ease-in-out 0.4s;
            object-fit: cover;
            object-position:center;
            filter:brightness(0.75);
        }
        h1{
            color: #fff;
            position: absolute;
            z-index: 2;
            top: 73%;
            left:24%;
            font-size: 30px;
            font-weight: 700;
        }
        .fsh:hover a{
            top: 86%;
            }
        .fsh img:hover {
            scale: 1.01;
            filter:brightness(0.80);
        }
    }
    .trend-link a{
        position: relative;
        text-decoration-line: none;
        font-size: 1.2rem;
        color: #000;
    }
    .trend-link a:hover{
        color: red;
    }
    .trend-link a::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 5px;
        border-radius: 10%;
        background: red;
        left: 0px;
        bottom: -2.2rem;
        transition: ease-in-out 0.2s;
        display: none;
    }
    .trend-link a:hover::after{
        display: block;
    }
}
.swiper-slide{
        .card{
            position: relative;
            overflow: hidden;
            img{
                transition:ease-in-out 0.3s;
                object-fit: cover;
                object-position: center;
            }
            img:hover{
                scale: 1.03;
            }
            a{
                color: #000;
            }
        }
    }
    .add-wish{
        position:absolute;
        top: 57%;
        left: 19%;
        z-index: 999;
        border: none;
        a{
            padding: 2px 13px;
            text-decoration: none;
            color: #000;
            transition: ease-in-out 0.3s;
        }
        a i:hover{
            color: white;
        }
        a:hover{
            background: red;
        }
    }
.testimonial-section{
    width: 100%;
    height: 70vh;
    background: #F3EAD8;
}
.latest-news{
    width: 100%;
    height: auto;
    background: #F6F6F6;
    .latest{
        .curling{
            color: #000;
            transition: ease-in 0.2s;
        }
        .curling:hover{
            color: red;
        }
        .read{
            transition: ease-in-out 0.3s;
            text-decoration:underline;
            font-size: 18px;
            text-transform: capitalize;
        }
        .read:hover{
            letter-spacing: 0.5px;
        }
    }
}

.footer{
    position: relative;
    width: 100%;
    height: auto;
    background: #171613;
    color:#BBB9B5;

    .foot-icon a{
        text-decoration: none;
        color: rgba(134, 134, 231, 0.467);
        transition: ease-in-out 0.3s;
    }
    .foot-icon a:hover{
        color: red;
        transform:rotateY(150deg);
    }
    .lis ul li{
        cursor: pointer;
        color: #BBB9B5;
        margin: 10px 0;
        font-weight: 500;
        color:#F3EAD8;
        font-size: 14px;
        transition: ease-in 0.3s;
    }
    .lis ul li:hover{
        letter-spacing: 1px;
        text-decoration: underline;
    }
}