<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Jost&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.2.0/remixicon.css"
        integrity="sha512-OQDNdI5rpnZ0BRhhJc+btbbtnxaj+LdQFeh0V9/igiEPDiWE2fG+ZsXl0JEH+bjXKPJ3zcXqNyP4/F/NegVdZg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/sass/style.css">
    <link rel="stylesheet" href="/static/css/res.css">
    <title>ecommerce-web</title>
</head>

<body>

    <!-- header section start -->
    <nav>
        <section class="top-nav">
            <!-- Top-nav-bar  -->
            <div class="container-fluid">
                <div class="row pt-1">
                    <div class="col-lg-6 col-md-6 ">
                        <ul class="nav-link d-flex justify-content-start align-items-center gap-5 ms-0 list-unstyled">
                            <li><a href="/" class="nav-item ">About Us</a></li>
                            <li><a href="/" class="nav-item ">Privacy</a></li>
                            <li><a href="/" class="nav-item ">FAQ</a></li>
                            <li><a href="/" class="nav-item ">Careers</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <ul class="nav-link d-flex justify-content-end align-items-center gap-3 ms-0 list-unstyled">
                            <li><a href="/" class="nav-item ">My Wishlist</a></li>
                            <div class="vr"></div>
                            <li><a href="/" class="nav-item ">Track Your Order</a></li>
                            <div class="vr"></div>
                            <div class=" d-flex gap-3 icon-link">
                                <a href="/"><i class="ri-facebook-circle-line"></i></a>
                                <a href="/"><i class="ri-instagram-line"></i></i></a>
                                <a href="/"><i class="ri-twitter-x-fill"></i></a>
                                <a href="/"><i class="ri-linkedin-fill"></i></a>
                                <a href="/"><i class="ri-youtube-fill"></i></a>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="width: 100%; height:1px; background:#5553533b;margin-top:-10px"></div>
        </section>

        <!-- secound-nav-bar -->
        <section class="sec-bar d-flex justify-content-between align-items-center gap-5" style="padding:17px 7rem; ">
            <a href="/index">
                <img src="/static/images/logo_images/logo.png.webp" alt="logo_img">
            </a>
            <ul class=" d-flex gap-5 align-items-end list-unstyled">
                <li><a href="/">Home</a></li>
                <li><a href="/">Men</a></li>
                <li><a href="/">Women</a></li>
                <li class=" position-relative"><a href="/">Baby Collection</a>
                    <span class="position-absolute top-0 start-100 translate-middle   badge bg-danger">
                        New
                    </span>
                </li>
                <div class="dropdown">
                    <a class="btn bg-transparent dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        page
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Login</a></li>
                        <li><a class="dropdown-item" href="#">Cart</a></li>
                        <li><a class="dropdown-item" href="#">Product Details</a></li>
                        <li><a class="dropdown-item" href="#">Product Checkout</a></li>
                    </ul>
                </div>
                <li><a href="/">Blog</a></li>
                <li><a href="/">Contact</a></li>
            </ul>

            <div class=" d-flex gap-4">
                <a href="/"><i class="ri-search-line"></i></a>
                <a href="/"><i class="ri-user-6-line"></i></a>
                <a href="/" class=" position-relative"><i class="ri-shopping-cart-2-line"></i>
                    <span class="position-absolute top-0 start-100 translate-middle   badge rounded-circle bg-danger">
                        1
                    </span></a>
            </div>
        </section>

        <section class=" bg-dark shop-now">
            <p class="m-0 py-3 text-center text-white">Sale Up To 50% Biggest Discounts. Hurry! Limited Perriod Offer <a
                    href="/">Shop Now</a></p>
        </section>
    </nav>
    <!-- header section end -->

    <!-- hero-section  start -->
    <section class="cara">

        <!-- carousol-section -->
        <div id="carouselExampleFade" class="carousel slide carousel-fade">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class=bg-img1>
                        <div class="container">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-start">
                                    <div class=" text-center" style="margin:13rem 0">
                                        <h4 class=" text-danger"
                                            style="font-family: Clicker Script, cursive; font-weight:600; font-size:2.8rem">
                                            Fashion Sale</h4>
                                        <h3 style="font-size: 2.3rem; font-weight:600; letter-spacing:3px">Minimal Menz
                                            Style</h3>
                                        <p class="px-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
                                            <br>
                                            explicabo
                                            fugiat veniam nemo sed.
                                        </p>
                                        <button class=" bg-dark text-white btn fs-6 px-4 py-2 mx-auto">SHOP NOW</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class=bg-img2>
                        <div class="container">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-end">
                                    <div class=" text-center" style="margin:13rem 0  ">
                                        <h4 class=" text-danger"
                                            style="font-family: Clicker Script, cursive; font-weight:600; font-size:2.8rem">
                                            Fashion Sale</h4>
                                        <h3 style="font-size: 2.3rem; font-weight:600; letter-spacing:3px">Minimal Menz
                                            Style</h3>
                                        <p class="px-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo
                                            <br>
                                            explicabo
                                            fugiat veniam nemo sed.
                                        </p>
                                        <button class=" bg-dark text-white btn fs-6 px-4 py-2 mx-auto">SHOP NOW</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

        <!-- Fashion - section -->
        <div class="container fashion">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 flex-wrap">
                    <div class="my-5 fsh">
                        <img src="/static/images/front_images/items1.jpg.webp" alt="item1" class=" img-fluid">
                        <h1>Men`s Fashion</h1>
                        <a href="/">Shop Now</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 flex-wrap">
                    <div class="my-5 fsh">
                        <img src="/static/images/front_images/items2.jpg.webp" alt="item1" class=" img-fluid">
                        <h1>Women`s Fashion</h1>
                        <a href="/">Shop Now</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 flex-wrap">
                    <div class="my-5 fsh">
                        <img src="/static/images/front_images/items3.jpg.webp" alt="item1" class=" img-fluid">
                        <h1>Baby Fashion</h1>
                        <a href="/">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Trending-section -->
        <div class="container pt-5">
            <div class="row">
                <div class="col-lg-6">
                    <h2 class=" fw-bold">Trending This Week</h2>
                </div>
                <div class="col-lg-6">
                    <div class="trend-link d-flex justify-content-end align-items-end gap-5">
                        <a href="/">Men</a>
                        <a href="/">Women</a>
                        <a href="/">Baby</a>
                        <a href="/">Fashion</a>
                    </div>
                </div>
            </div>
            <hr class=" bg-secondary">

            <!-- testimonial-section -->
            <div class="container py-4">
                <div class="row">
                    <div class="col">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper px-1">
                                <div class="swiper-slide">
                                    <div class="card" style="border:none; width:16rem">
                                        <a href="/" style="overflow:hidden;"><img
                                                src="/static/images/front_images/latest1.jpg.webp" alt="latest1"
                                                style="height: 48vh">
                                        </a>
                                        <div
                                            class="d-flex flex-column justify-content-center align-items-center gap-2 py-3">
                                            <a href="/" class=" text-decoration-none">Cashmere Tank + Bag</a>
                                            <a class=" text-decoration-none" href="/">$98.00 <del>$120.00</del></a>
                                        </div>
                                    </div>
                                    <div
                                        class="add-wish bg-white d-flex justify-content-center align-items-center fs-3">
                                        <a href="/"><i class="ri-shopping-cart-2-line"></i></a>
                                        <a href="/"><i class="ri-heart-line"></i></a>
                                        <a href="/"><i class="ri-search-eye-line"></i></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card" style="border:none; width:16rem">
                                        <a href="/" style="overflow:hidden;"><img
                                                src="/static/images/front_images/latest2.jpg.webp" alt="latest2"
                                                style="height: 48vh">
                                        </a>
                                        <div
                                            class="d-flex flex-column justify-content-center align-items-center gap-2 py-3">
                                            <a href="/" class=" text-decoration-none">Cashmere Tank + Bag</a>
                                            <a class=" text-decoration-none" href="/">$98.00 <del>$120.00</del></a>
                                        </div>
                                    </div>
                                    <div
                                        class="add-wish bg-white d-flex justify-content-center align-items-center fs-3">
                                        <a href="/"><i class="ri-shopping-cart-2-line"></i></a>
                                        <a href="/"><i class="ri-heart-line"></i></a>
                                        <a href="/"><i class="ri-search-eye-line"></i></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card" style="border:none; width:16rem">
                                        <a href="/" style="overflow:hidden;"><img
                                                src="/static/images/front_images/latest3.jpg.webp" alt="latest3"
                                                style="height: 48vh">
                                        </a>
                                        <div
                                            class="d-flex flex-column justify-content-center align-items-center gap-2 py-3">
                                            <a href="/" class=" text-decoration-none">Cashmere Tank + Bag</a>
                                            <a class=" text-decoration-none" href="/">$98.00 <del>$120.00</del></a>
                                        </div>
                                    </div>
                                    <div
                                        class="add-wish bg-white d-flex justify-content-center align-items-center fs-3">
                                        <a href="/"><i class="ri-shopping-cart-2-line"></i></a>
                                        <a href="/"><i class="ri-heart-line"></i></a>
                                        <a href="/"><i class="ri-search-eye-line"></i></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card" style="border:none; width:16rem">
                                        <a href="/" style="overflow:hidden;"><img
                                                src="/static/images/front_images/latest4.jpg.webp" alt="latest4"
                                                style="height: 48vh">
                                        </a>
                                        <div
                                            class="d-flex flex-column justify-content-center align-items-center gap-2 py-3">
                                            <a href="/" class=" text-decoration-none">Cashmere Tank + Bag</a>
                                            <a class=" text-decoration-none" href="/">$98.00 <del>$120.00</del></a>
                                        </div>
                                    </div>
                                    <div
                                        class="add-wish bg-white d-flex justify-content-center align-items-center fs-3">
                                        <a href="/"><i class="ri-shopping-cart-2-line"></i></a>
                                        <a href="/"><i class="ri-heart-line"></i></a>
                                        <a href="/"><i class="ri-search-eye-line"></i></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card" style="border:none; width:16rem">
                                        <a href="/" style="overflow:hidden;"><img
                                                src="/static/images/front_images/latest2.jpg.webp" alt="latest22"
                                                style="height: 48vh">
                                        </a>
                                        <div
                                            class="d-flex flex-column justify-content-center align-items-center gap-2 py-3">
                                            <a href="/" class=" text-decoration-none">Cashmere Tank + Bag</a>
                                            <a class=" text-decoration-none" href="/">$98.00 <del>$120.00</del></a>
                                        </div>
                                    </div>
                                    <div
                                        class="add-wish bg-white d-flex justify-content-center align-items-center fs-3">
                                        <a href="/"><i class="ri-shopping-cart-2-line"></i></a>
                                        <a href="/"><i class="ri-heart-line"></i></a>
                                        <a href="/"><i class="ri-search-eye-line"></i></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card" style="border:none; width:16rem">
                                        <a href="/" style="overflow:hidden;"><img
                                                src="/static/images/front_images/latest1.jpg.webp" alt="latest11"
                                                style="height: 48vh">
                                        </a>
                                        <div
                                            class="d-flex flex-column justify-content-center align-items-center gap-2 py-3">
                                            <a href="/" class=" text-decoration-none">Cashmere Tank + Bag</a>
                                            <a class=" text-decoration-none" href="/">$98.00 <del>$120.00</del></a>
                                        </div>
                                    </div>
                                    <div
                                        class="add-wish bg-white d-flex justify-content-center align-items-center fs-3">
                                        <a href="/"><i class="ri-shopping-cart-2-line"></i></a>
                                        <a href="/"><i class="ri-heart-line"></i></a>
                                        <a href="/"><i class="ri-search-eye-line"></i></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card" style="border:none; width:16rem">
                                        <a href="/" style="overflow:hidden;"><img
                                                src="/static/images/front_images/latest4.jpg.webp" alt="latest44"
                                                style="height: 48vh">
                                        </a>
                                        <div
                                            class="d-flex flex-column justify-content-center align-items-center gap-2 py-3">
                                            <a href="/" class=" text-decoration-none">Cashmere Tank + Bag</a>
                                            <a class=" text-decoration-none" href="/">$98.00 <del>$120.00</del></a>
                                        </div>
                                    </div>
                                    <div
                                        class="add-wish bg-white d-flex justify-content-center align-items-center fs-3">
                                        <a href="/"><i class="ri-shopping-cart-2-line"></i></a>
                                        <a href="/"><i class="ri-heart-line"></i></a>
                                        <a href="/"><i class="ri-search-eye-line"></i></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card" style="border:none; width:16rem">
                                        <a href="/" style="overflow:hidden;"><img
                                                src="/static/images/front_images/latest3.jpg.webp" alt="latest33"
                                                style="height: 48vh">
                                        </a>
                                        <div
                                            class="d-flex flex-column justify-content-center align-items-center gap-2 py-3">
                                            <a href="/" class=" text-decoration-none">Cashmere Tank + Bag</a>
                                            <a class=" text-decoration-none" href="/">$98.00 <del>$120.00</del></a>
                                        </div>
                                    </div>
                                    <div
                                        class="add-wish bg-white d-flex justify-content-center align-items-center fs-3">
                                        <a href="/"><i class="ri-shopping-cart-2-line"></i></a>
                                        <a href="/"><i class="ri-heart-line"></i></a>
                                        <a href="/"><i class="ri-search-eye-line"></i></a>
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="card" style="border:none; width:16rem">
                                        <a href="/" style="overflow:hidden;"><img
                                                src="/static/images/front_images/latest2.jpg.webp" alt="latest11"
                                                style="height: 48vh">
                                        </a>
                                        <div
                                            class="d-flex flex-column justify-content-center align-items-center gap-2 py-3">
                                            <a href="/" class=" text-decoration-none">Cashmere Tank + Bag</a>
                                            <a class=" text-decoration-none" href="/">$98.00 <del>$120.00</del></a>
                                        </div>
                                    </div>
                                    <div
                                        class="add-wish bg-white d-flex justify-content-center align-items-center fs-3">
                                        <a href="/"><i class="ri-shopping-cart-2-line"></i></a>
                                        <a href="/"><i class="ri-heart-line"></i></a>
                                        <a href="/"><i class="ri-search-eye-line"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- hero-section  send -->



    <!-- testimonnial-section start -->
    <section class="testimonial-section d-flex justify-content-center align-items-center my-5">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class=" d-flex gap-4 flex-column justify-content-center align-items-center">
                                    <h1>Customer Testimonial</h1>
                                    <p class="m-0 fs-5 w-50 text-center">Everybody is different, which is why we offer
                                        styles for
                                        every
                                        body. Laborum fuga incidunt laboriosam voluptas iure, delectus dignissimos
                                        facilis neque nulla earum.</p>
                                    <div class=" d-flex justify-content-start gap-3">
                                        <img src="/static/images/front_images/founder-img.png.webp"
                                            alt="founder_png_web_p">
                                        <div>
                                            <span>Petey Cruiser</span>
                                            <h6 class=" fw-bold">Designer at Colorib</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class=" d-flex gap-4 flex-column justify-content-center align-items-center">
                                    <h1>Customer Testimonial</h1>
                                    <p class="m-0 fs-5 w-50 text-center">Everybody is different, which is why we offer
                                        styles for
                                        every
                                        body. Laborum fuga incidunt laboriosam voluptas iure, delectus dignissimos
                                        facilis neque nulla earum.</p>
                                    <div class=" d-flex justify-content-start gap-3">
                                        <img src="/static/images/front_images/founder-img.png.webp"
                                            alt="founder_png_web_p">
                                        <div>
                                            <span>Petey Cruiser</span>
                                            <h6 class=" fw-bold">Designer at Colorib</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class=" d-flex gap-4 flex-column justify-content-center align-items-center">
                                    <h1>Customer Testimonial</h1>
                                    <p class="m-0 fs-5 w-50 text-center">Everybody is different, which is why we offer
                                        styles for
                                        every
                                        body. Laborum fuga incidunt laboriosam voluptas iure, delectus dignissimos
                                        facilis neque nulla earum.</p>
                                    <div class=" d-flex justify-content-start gap-3">
                                        <img src="/static/images/front_images/founder-img.png.webp"
                                            alt="founder_png_web_p">
                                        <div>
                                            <span>Petey Cruiser</span>
                                            <h6 class=" fw-bold">Designer at Colorib</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>
    <!-- testimonnial-section end -->

    <!-- testimonial 2 start -->
    <section class="testimonial-2 py-5">
        <div class="pb-3">
            <h1 class=" text-center mx-auto">You May Like</h1>
        </div>
        <!-- testimonial-section -->
        <div class="container py-4">
            <div class="row">
                <div class="col">
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper px-1">
                            <div class="swiper-slide">
                                <div class="card" style="border:none; width:16rem">
                                    <a href="/" style="overflow:hidden;"><img
                                            src="/static/images/front_images/latest5.jpg.webp" alt="latest5"
                                            style="height: 48vh">
                                    </a>
                                    <div
                                        class="d-flex flex-column justify-content-center align-items-center gap-2 py-3">
                                        <a href="/" class=" text-decoration-none">Cashmere Tank + Bag</a>
                                        <a class=" text-decoration-none" href="/">$98.00 <del>$120.00</del></a>
                                    </div>
                                </div>
                                <div class="add-wish bg-white d-flex justify-content-center align-items-center fs-3">
                                    <a href="/"><i class="ri-shopping-cart-2-line"></i></a>
                                    <a href="/"><i class="ri-heart-line"></i></a>
                                    <a href="/"><i class="ri-search-eye-line"></i></a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card" style="border:none; width:16rem">
                                    <a href="/" style="overflow:hidden;"><img
                                            src="/static/images/front_images/latest6.jpg.webp" alt="latest6"
                                            style="height: 48vh">
                                    </a>
                                    <div
                                        class="d-flex flex-column justify-content-center align-items-center gap-2 py-3">
                                        <a href="/" class=" text-decoration-none">Cashmere Tank + Bag</a>
                                        <a class=" text-decoration-none" href="/">$98.00 <del>$120.00</del></a>
                                    </div>
                                </div>
                                <div class="add-wish bg-white d-flex justify-content-center align-items-center fs-3">
                                    <a href="/"><i class="ri-shopping-cart-2-line"></i></a>
                                    <a href="/"><i class="ri-heart-line"></i></a>
                                    <a href="/"><i class="ri-search-eye-line"></i></a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card" style="border:none; width:16rem">
                                    <a href="/" style="overflow:hidden;"><img
                                            src="/static/images/front_images/latest7.jpg.webp" alt="latest7"
                                            style="height: 48vh">
                                    </a>
                                    <div
                                        class="d-flex flex-column justify-content-center align-items-center gap-2 py-3">
                                        <a href="/" class=" text-decoration-none">Cashmere Tank + Bag</a>
                                        <a class=" text-decoration-none" href="/">$98.00 <del>$120.00</del></a>
                                    </div>
                                </div>
                                <div class="add-wish bg-white d-flex justify-content-center align-items-center fs-3">
                                    <a href="/"><i class="ri-shopping-cart-2-line"></i></a>
                                    <a href="/"><i class="ri-heart-line"></i></a>
                                    <a href="/"><i class="ri-search-eye-line"></i></a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card" style="border:none; width:16rem">
                                    <a href="/" style="overflow:hidden;"><img
                                            src="/static/images/front_images/latest8.jpg.webp" alt="latest8"
                                            style="height: 48vh">
                                    </a>
                                    <div
                                        class="d-flex flex-column justify-content-center align-items-center gap-2 py-3">
                                        <a href="/" class=" text-decoration-none">Cashmere Tank + Bag</a>
                                        <a class=" text-decoration-none" href="/">$98.00 <del>$120.00</del></a>
                                    </div>
                                </div>
                                <div class="add-wish bg-white d-flex justify-content-center align-items-center fs-3">
                                    <a href="/"><i class="ri-shopping-cart-2-line"></i></a>
                                    <a href="/"><i class="ri-heart-line"></i></a>
                                    <a href="/"><i class="ri-search-eye-line"></i></a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card" style="border:none; width:16rem">
                                    <a href="/" style="overflow:hidden;"><img
                                            src="/static/images/front_images/latest5.jpg.webp" alt="latest55"
                                            style="height: 48vh">
                                    </a>
                                    <div
                                        class="d-flex flex-column justify-content-center align-items-center gap-2 py-3">
                                        <a href="/" class=" text-decoration-none">Cashmere Tank + Bag</a>
                                        <a class=" text-decoration-none" href="/">$98.00 <del>$120.00</del></a>
                                    </div>
                                </div>
                                <div class="add-wish bg-white d-flex justify-content-center align-items-center fs-3">
                                    <a href="/"><i class="ri-shopping-cart-2-line"></i></a>
                                    <a href="/"><i class="ri-heart-line"></i></a>
                                    <a href="/"><i class="ri-search-eye-line"></i></a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card" style="border:none; width:16rem">
                                    <a href="/" style="overflow:hidden;"><img
                                            src="/static/images/front_images/latest6.jpg.webp" alt="latest66"
                                            style="height: 48vh">
                                    </a>
                                    <div
                                        class="d-flex flex-column justify-content-center align-items-center gap-2 py-3">
                                        <a href="/" class=" text-decoration-none">Cashmere Tank + Bag</a>
                                        <a class=" text-decoration-none" href="/">$98.00 <del>$120.00</del></a>
                                    </div>
                                </div>
                                <div class="add-wish bg-white d-flex justify-content-center align-items-center fs-3">
                                    <a href="/"><i class="ri-shopping-cart-2-line"></i></a>
                                    <a href="/"><i class="ri-heart-line"></i></a>
                                    <a href="/"><i class="ri-search-eye-line"></i></a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card" style="border:none; width:16rem">
                                    <a href="/" style="overflow:hidden;"><img
                                            src="/static/images/front_images/latest7.jpg.webp" alt="latest77"
                                            style="height: 48vh">
                                    </a>
                                    <div
                                        class="d-flex flex-column justify-content-center align-items-center gap-2 py-3">
                                        <a href="/" class=" text-decoration-none">Cashmere Tank + Bag</a>
                                        <a class=" text-decoration-none" href="/">$98.00 <del>$120.00</del></a>
                                    </div>
                                </div>
                                <div class="add-wish bg-white d-flex justify-content-center align-items-center fs-3">
                                    <a href="/"><i class="ri-shopping-cart-2-line"></i></a>
                                    <a href="/"><i class="ri-heart-line"></i></a>
                                    <a href="/"><i class="ri-search-eye-line"></i></a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card" style="border:none; width:16rem">
                                    <a href="/" style="overflow:hidden;"><img
                                            src="/static/images/front_images/latest8.jpg.webp" alt="latest88"
                                            style="height: 48vh">
                                    </a>
                                    <div
                                        class="d-flex flex-column justify-content-center align-items-center gap-2 py-3">
                                        <a href="/" class=" text-decoration-none">Cashmere Tank + Bag</a>
                                        <a class=" text-decoration-none" href="/">$98.00 <del>$120.00</del></a>
                                    </div>
                                </div>
                                <div class="add-wish bg-white d-flex justify-content-center align-items-center fs-3">
                                    <a href="/"><i class="ri-shopping-cart-2-line"></i></a>
                                    <a href="/"><i class="ri-heart-line"></i></a>
                                    <a href="/"><i class="ri-search-eye-line"></i></a>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="card" style="border:none; width:16rem">
                                    <a href="/" style="overflow:hidden;"><img
                                            src="/static/images/front_images/latest5.jpg.webp" alt="latest555"
                                            style="height: 48vh">
                                    </a>
                                    <div
                                        class="d-flex flex-column justify-content-center align-items-center gap-2 py-3">
                                        <a href="/" class=" text-decoration-none">Cashmere Tank + Bag</a>
                                        <a class=" text-decoration-none" href="/">$98.00 <del>$120.00</del></a>
                                    </div>
                                </div>
                                <div class="add-wish bg-white d-flex justify-content-center align-items-center fs-3">
                                    <a href="/"><i class="ri-shopping-cart-2-line"></i></a>
                                    <a href="/"><i class="ri-heart-line"></i></a>
                                    <a href="/"><i class="ri-search-eye-line"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- testimonial 2 end -->

    <!-- lates-news start -->
    <section class="latest-news py-5">
        <div class="py-5">
            <h1 class=" mx-auto text-center">Latest News</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="card h-100 border-0" style="background-color:#f6f6f6">
                        <a href="/">
                            <img src="/static/images/front_images/blog1.jpg.webp" class="card-img-top" alt="blog_1">
                        </a>
                        <div class="card-body d-flex flex-column gap-3 latest px-0">
                            <h6 class="card-title text-secondary">Fashion Tips</h6>
                            <a href="/" class="card-text curling fs-5 fw-bold text-decoration-none">What Curling Irons
                                Are The Best
                                <br>
                                Ones</a>
                            <p class="card-text m-0 text-secondary">Consectetur adipisicing elit. Laborum fuga incidunt
                                laboriosam
                                voluptas iure, delectus..</p>
                            <a href="/" class="read fw-bold text-dark"><small class="text-body-secondary">Read
                                    more</small></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="card h-100 border-0" style="background-color:#f6f6f6">
                        <a href="/">
                            <img src="/static/images/front_images/blog2.jpg.webp" class="card-img-top" alt="blog_2">
                        </a>
                        <div class="card-body d-flex flex-column gap-3 latest px-0">
                            <h6 class="card-title text-secondary">Fashion Tips</h6>
                            <a href="/" class="card-text curling fs-5 fw-bold text-decoration-none">Vogue's Ultimate
                                Guide To Autumn/ Winter 2019 Shoes</a>
                            <p class="card-text m-0 text-secondary">Consectetur adipisicing elit. Laborum fuga incidunt
                                laboriosam
                                voluptas iure, delectus..</p>
                            <a href="/" class="read fw-bold text-dark"><small class="text-body-secondary">Read
                                    more</small></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="card h-100 border-0" style="background-color:#f6f6f6">
                        <a href="/">
                            <img src="/static/images/front_images/blog3.jpg.webp" class="card-img-top" alt="blog_3">
                        </a>
                        <div class="card-body d-flex flex-column gap-3 latest px-0">
                            <h6 class="card-title text-secondary">Fashion Tips</h6>
                            <a href="/" class="card-text curling fs-5 fw-bold text-decoration-none">What Curling Irons
                                Are The Best <br> Ones</a>
                            <p class="card-text m-0 text-secondary">Consectetur adipisicing elit. Laborum fuga incidunt
                                laboriosam
                                voluptas iure, delectus..</p>
                            <a href="/" class="read fw-bold text-dark"><small class="text-body-secondary">Read
                                    more</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- lates-news end -->

    <!-- shipping-method start -->
    <section class="shipping-method py-5">
        <div class="container">
            <div class="row mx-0 g-0 py-5">
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class=" d-flex justify-content-end">
                        <div class="d-flex flex-column justify-content-center align-items-center mx-auto gap-sm-2">
                            <img src="/static/images/front_images/services1.svg" alt="servies_1" width="109px"
                                class="pb-4">
                            <h5>Fast & Free Delivery</h5>
                            <h6 class=" text-secondary fw-light">Free Delivery on all orders</h6>
                        </div>
                        <div class="line" style="width:1px; height:22vh; background-color:rgba(128, 128, 128, 0.275)">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class=" d-flex justify-content-end">
                        <div class="d-flex flex-column justify-content-center align-items-center mx-auto  gap-sm-2">
                            <img src="/static/images/front_images/services2.svg" alt="servies_2" width="80px"
                                class="pb-4">
                            <h5>Secure Payment</h5>
                            <h6 class=" text-secondary fw-light">Free Delivery on all orders</h6>
                        </div>
                        <div class="line" style="width:1px; height:22vh; background-color:rgba(128, 128, 128, 0.275)">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class=" d-flex justify-content-end">
                        <div class="d-flex flex-column justify-content-center align-items-center mx-auto gap-sm-2">
                            <img src="/static/images/front_images/services3.svg" alt="servies_3" width="80px"
                                class="pb-4">
                            <h5>Money Back Guarantee</h5>
                            <h6 class=" text-secondary fw-light">Free Delivery on all orders</h6>
                        </div>
                        <div class="line" style="width:1px; height:22vh; background-color:rgba(128, 128, 128, 0.275)">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
                    <div class=" d-flex justify-content-end">
                        <div class="d-flex flex-column justify-content-center align-items-center mx-auto gap-sm-2">
                            <img src="/static/images/front_images/services4.svg" alt="servies_4" width="80px"
                                class="pb-4">
                            <h5>Online Support</h5>
                            <h6 class=" text-secondary fw-light">Free Delivery on all orders</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- shipping-method end -->

    <!-- footer-section start -->
    <footer class="footer py-5">
        <div class="container">
            <div class="row pb-5">
                <div class="col-lg-3">
                    <h3>Subscribe Newsletter</h3>
                    <p class="m-0">Subscribe newsletter to get 5% on all products.</p>
                </div>
                <div class="col-lg-6 ">
                    <form class="ms-5 d-flex gap-2 justify-content-end align-items-end">
                        <input type="email" placeholder="Enter Your email" class="px-4 py-3 w-75 border-0 rounded-1">
                        <button type="submit" class="text-white btn py-3 px-4"
                            style="background-color:red;">Subscribe</button>
                    </form>
                </div>
                <div class="col-lg-3">
                    <div class=" d-flex justify-content-center gap-4 fs-3 foot-icon">
                        <a href="/"><i class="ri-facebook-fill"></i></a>
                        <a href="/"><i class="ri-instagram-line"></i></a>
                        <a href="/"><i class="ri-youtube-fill"></i></a>
                    </div>
                </div>
            </div>
            <div class="hr w-100 bg-secondary" style="height:1px"></div>
        </div>

        <div class="container py-5">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div>
                        <img src="/static/images/logo_images/logo2_footer.png.webp" alt="logo_2">
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="py-3 lis">
                        <h4 class="mb-4">Shop Men</h4>
                        <ul class="px-0 list-unstyled">
                            <li>Clothing fashion</li>
                            <li>Winter</li>
                            <li>summer</li>
                            <li>Casual</li>
                            <li>Formal</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="py-3 lis">
                        <h4 class="mb-4">Shop Women</h4>
                        <ul class="px-0 list-unstyled">
                            <li>Clothing fashion</li>
                            <li>Winter</li>
                            <li>summer</li>
                            <li>Casual</li>
                            <li>Formal</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="py-3 lis">
                        <h4 class="mb-4">Baby Collection</h4>
                        <ul class="px-0 list-unstyled">
                            <li>Clothing fashion</li>
                            <li>Winter</li>
                            <li>summer</li>
                            <li>Casual</li>
                            <li>Formal</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <div class="py-3 lis">
                        <h4 class="mb-4">Quick Links</h4>
                        <ul class="px-0 list-unstyled">
                            <li>Track Your Order</li>
                            <li>Support</li>
                            <li>FAQ</li>
                            <li>Carrier</li>
                            <li>About</li>
                            <li>Contact Us</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="hr w-100 bg-secondary " style="height:1px; margin-top:7rem"></div>

            <div class="row">
                <div class="col-12">
                    <p class="m-0 mx-auto text-center pt-3 text-secondary">Copyright ©2024 All rights reserved | This template is made with 💖 by Waize-Tech</p>
                </div>
            </div>
        </div>

    </footer>
    <!-- footer-section end -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/script.js"></script>
    <script>
        var swiper = new Swiper(".mySwiper", {
            spaceBetween: 30,
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                320: {
                    slidesPerView: 1,
                },
                480: {
                    slidesPerView: 2,
                },
                768: {
                    slidesPerView: 3,
                },
                1200: {
                    slidesPerView: 4,
                },
            },
        });
    </script>
</body>

</html>
